[submodule "public/steal"]
	path = public/steal
	url = git@github.com:eaturspinach/steal.git
[submodule "public/jquery"]
	path = public/jquery
	url = git@github.com:eaturspinach/jquerymx.git
[submodule "public/documentjs"]
	path = public/documentjs
	url = git@github.com:eaturspinach/documentjs.git
[submodule "public/funcunit"]
	path = public/funcunit
	url = git@github.com:eaturspinach/funcunit.git
