%ul#url-list
  %h2
    To Do List:
  - @urls.each do |url|
    %li.neuron{:draggable => "true"}
      %a{:href => url.name}
        = url.name
#hippocampus
  %h2
    File Away Into Your Hippocampus:
  %ul#hippocampus-list
    