/* Color Scheme */
#main {
  padding: 20px; }

#list {
  float: left;
  border: 1px solid blue;
  margin-right: 20px; }

.neuron {
  margin: 10px 0;
  padding: 10px; }

.neuron:hover {
  background: #67c7ed;
  cursor: pointer; }

#hippocampus {
  float: left;
  border: 1px solid pink;
  width: 500px;
  height: 500px; }
