/* Color Scheme */
/*$light_pink:#ffb9aa;
$hot_pink:#f3439b;
$turquose:#80d9e9;
$fluorescent_blue:#67c7ed;
$purplish:#6860b2;
$yellowish:#ffd00a;
$greenish:#1ef80e;*/
$darker_blue:  #0071a8;
$lighter_blue: #00a4de;
$black: #070707;
$white:#fdfbfb;

/* Mixins */

@mixin rounded_corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@mixin shadow {
  -moz-box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}


/* */

body {
  font-family:Arial,Helvetica,san-serif;
  font-size:12px;
}

#main {
  float:left;
  width:100%;
}

#wrapper {
  padding:10px;
}

header {
  border:3px solid green;
  height:50px;
}

#url-list {
  float:left;
  border:4px solid blue;
  margin-right:20px;
  width:26%;
}

.neuron a{
  border:3px solid black;
  
  display:block;
  cursor: move;
  background:grey;
  @include rounded_corners;
  margin:10px 0;
  padding:10px;
  height:10px;
  color:$white;
}

.neuron a:hover {
  border:3px solid blue;
  display:block;
  cursor: move;
  background:red;
  @include rounded_corners;
  margin:10px 0;
  padding:10px;
  height:10px;
  color:$white;
}

.opaque {
  opacity: 0.4;
}

.over {
  border:3px dashed black !important;
}

#hippocampus {
  float:right;
  border:3px solid green;
  background:grey;
  height:500px;
  width:70%;
}