!!!
%html
  %head
    %title Lists
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    = yield
    = javascript_include_tag 'mootool-yui-compressed.js', 'mootool-drag-drop-min.js', 'application.js'
